@import "bourbon/bourbon";
@import "_neatoverrides";
@import "neat/neat";
@import "icons";
@import "mixins";
@import "normalize";

// =================================
//
//   Colors, my goodness!
//
// =================================

$color-primary:black;
$color-secondary:gray;
$color-text:white;
$color-link:shade($color-primary, 35%);
$color-bg:#222;
$color-highlight:tint(#ffe400, 90%);


// =================================
//
//   Typography
//
// =================================

// 12 / 16 =     0.75em
// 14 / 16 =     0.875em
// 16 / 16 =     1em
// 18 / 16 =     1.125em
// 21 / 16 =     1.3125em
// 24 / 16 =     1.5em
// 32 / 16 =     2em
// 48 / 16 =     3em
// 72 / 16 =     4.5em

h1, h2 {
  line-height:1.3;
}
h3, h4 {
  line-height:1.4;
}
a {
  color:$color-link;
  text-decoration:none;
  border-bottom:1px solid $color-link;
}

$font-body:"Courier New", sans-serif;

// =================================
//
//   Buttons
//
// =================================

// Base button
.button {
  position:relative;
  display:block;
  border-radius:4px;
  padding:0.5em 1.25em;
  border:none;
  background:#ddd;
  color:rgba(0,0,0,.4);
  font-weight:bold;
  text-decoration:none;
  cursor: pointer;
  font-family:"Sue Ellen Francisco",sans-serif;
  text-transform:uppercase;
  @include transition(.1s ease-out all);

	// Click state
	&:active {
    @include transform(translate3d(0, 1px, 0));
  }

	// Hover state
	&:hover {
    background:shade(#ddd, 5%);
  }

	// Active class state
	&.active {
    background:silver; color:#666;

    &:hover {
      background:darken(silver,5%);
    }
	}
}

// Primary button
.button-primary {
  @extend .button;
  display:inline-block;
  margin:0 auto;
  border:4px double rgba(black,0.375);
  background:red;
  color:white;
  box-shadow:0 2px 0 1px darken(red, 30%);

  &:hover {
    background:shade(red,25%);
  }
}

// =================================
//
//   CSS Animations
//
// =================================

// Quick highlight
@include keyframes(highlight-quick) {
  from { background:lighten($color-primary, 50%); }
    to { background:white; }
}

// Allow for display:none on animations/transitions
.is-transitioning {
  display: block !important;
  visibility: visible !important;
}


// =================================
//
//   General
//
// =================================

html {
  font-size:100%;
  height:100%;
  -webkit-font-smoothing:antialiased;
}

body {
	margin:0;
	padding:2em;
	color:$color-text;
  background:$color-bg;
	line-height:1.5;
	font-family:$font-body;
  @include clearfix;
  font-size:90%;

	// Smaller screens
	@media screen and ( max-width: 1280px ) {
		font-size:85%;
	}

	// Even smaller screens
	@media screen and ( max-width: 1030px ) {
		font-size:75%;
	}

	// Ouch that's really small
	@media screen and ( max-width: 820px ) {
		font-size:60%;
	}

	// Okay now we're probably a phone
	@media screen and ( max-width: 600px ) {
		font-size:80%;
	}
}

// Loading cursor hook
body.is-busy, body.is-busy * {
  cursor:progress !important;
}

// Border box is the way to go, yo.
* {
  box-sizing:border-box;
}

// Style text selection
::-moz-selection {
  background:$color-primary;
  color:#fff;
}

::selection {
  background:$color-primary; color:#fff;
}

// Style placeholder
::-webkit-input-placeholder {
  color:#999;
  font-weight:normal;
  -webkit-font-smoothing:antialiased;
}

::-moz-placeholder {
  color:#999;
  font-weight:normal;
}

:-moz-placeholder {
  color:#999;
  font-weight:normal;
}

:ms-input-placeholder {
  color:#999;
  font-weight:normal;
}

// =================================
//
//   Wrappers
//
// =================================
.a-beautiful-container {
  position:relative;
  padding:2em;
  // min-height:26em;
  padding-top:23.37%;
  @include span-columns(3);
  @include omega(4n);

  &:hover:after {
    position:absolute;
  }
}

.page-wrapper {
  position:fixed;
  top:0; right:0; bottom:6em; left:0;
  padding:0 2em;
  padding-top:2em;
  overflow:scroll;
  @include transition(.2s ease-in-out all);
}

// =================================
//
//   Header
//
// =================================

.header-main {
  position:relative;
  background:#333 url(../images/backgrounds/bg-album-cover.jpg);
  background-size:cover;
}

.logo-main {
  position:absolute;
  right:0; bottom:0; left:2em;
  height:85%;
  margin:0;
  background:url(../images/logo/logo-mhmh.png) right bottom no-repeat;
  background-size:contain;
  text-indent:-9999px;
}

// =================================
//
//   Download the album
//
// =================================

.download-the-album {
  background:#333;
  color:red;
  overflow:hidden;
  height:0;

  .inner {
    position:absolute;
    top:50%; right:2em; left:2em;
    @include transform(translateY(-50%));
  }

  p {
    color:white;
    text-align:center;
    font-family:"Sue Ellen Francisco",sans-serif;
    text-transform:uppercase;
    font-size:1.5em;
  }

  .button-primary {
    margin:auto;
    width:100%;
    display:block;
    font-size:1.5em;
    text-align:center;
  }

  .image {
    position:relative;
    max-width:10em;
    border-radius:5px;
    border:1px solid #666;
    display:none;

    &:after {
      content:"";
      display:block;
      position:absolute;
      top:0; right:0; bottom:0; left:0;
      border-radius:5px;
      box-shadow:inset 0 -1px 0 0 rgba(white, 0.35);
    }
  }

  img {
    display:block;
    max-width:100%;
    border-radius:5px;
  }
}

// =================================
//
//   Songs
//
// =================================

$song-title-font:"Neuton",serif;
$song-title-font:"Sue Ellen Francisco",serif;

.song {
  position:relative;
  overflow:hidden;

  img {
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
  }

  header {
    position:absolute;
    left:2em; bottom:7em;
    margin:0;
    font-family:$song-title-font;
    text-transform:uppercase;
    @include transform( translateY(5.4em) );
    @include transition( .2s ease-in-out all );

    h1 {
      margin:0;
      font-size:2em;
    }
  }
}

.song:hover header {
  @include transform( translateY(0) );
}

// Hide song lyrics
.lyrics-text {
  display:none;
}

.song {
  .play,
  .lyrics {
    position:absolute;
    bottom:2em; left:2em;
    width:4em; height:4em;
    border:4px solid white;
    border-radius:100em;
    text-align:center;
    line-height:4em;
    cursor:pointer;
    opacity:0;
    @include transform( scale(0.5) translateY(5em) skewX(-20deg) skewY(50deg) );
    @include transition( .2s ease-in-out all );
    @include icon {
      position:absolute;
      top:50%; left:50%;
      width:1em; height:1em;
      margin-top:-0.5em;
      margin-left:-0.5em;
      font-size:1.5rem;
    }
  }

  .play:hover,
  .lyrics:hover {
    background:white;
    @include icon {
      color:black;
    }
  }

  .play {
    left:7em;
    @include transition-delay( .08s );
    @include icon('before', false, play);
  }

  .lyrics {
    @include icon('before', false, lyrics2);
  }
}

.a-beautiful-container:hover .play,
.a-beautiful-container:hover .lyrics {
  @include transform( scale(1) translateY(0) skewX(0deg) skewY(0deg) );
  opacity:1;
}

.song.insanity-jam {
  background:url(../images/backgrounds/bg-insanity-jam2.jpg) 18% 15% no-repeat;
  background-size:250%;
}

.song.rope-a-dope {
  background:url(../images/backgrounds/bg-rope-a-dope2.jpg) 70% 55% no-repeat;
  background-size:270%;
}

.song.shittiest-folk-bands {
  background:url(../images/backgrounds/bg-shittiest-folk-bands.jpg) no-repeat;
  background-size:cover;
}

.song.city-of-god {
  background:url(../images/backgrounds/bg-city-of-god.jpg) no-repeat;
  background-size:cover;
}

.song.devil-queen {
  background:url(../images/backgrounds/bg-devil-queen.jpg) no-repeat;
  background-size:cover;
}

.song.long-way-around {
  background:url(../images/backgrounds/bg-long-way-around2.jpg) center right no-repeat;
  background-size:cover;
}

.song.yellow-bushy-county {
  background:url(../images/backgrounds/bg-yellow-bushy-county.jpg) no-repeat;
  background-size:cover;
}

.song.changemonger {
  background:url(../images/backgrounds/bg-changemonger.jpg) no-repeat;
  background-size:cover;
}

.song.jankin-brigade {
  background:url(../images/backgrounds/bg-jankin-brigade.jpg) 40% 20% no-repeat;
  background-size:300%;
}

.song.music-sound {
  background:url(../images/backgrounds/bg-music-sound.jpg) no-repeat;
  background-size:cover;
}

.song.cabin-fever {
  background:url(../images/backgrounds/bg-cabin-fever.jpg) no-repeat;
  background-size:cover;
}

.song.metamorphosis {
  background:url(../images/backgrounds/bg-metamorphosis.jpg) no-repeat;
  background-size:cover;
}


// =================================
//
//   Audio player
//
// =================================

$audio-player-line-height:6em;

.audio-player-container {
  position:fixed;
  bottom:0; right:0; left:0;
  height:6em;
  background:#333 url(../images/backgrounds/bg-texture1.png);
  color:white;
  font-family:"Courier New";
  z-index:1000;
  box-shadow:0 0 0.25em black;

  nav {
    float:right;
    margin-right:2em;
    line-height:$audio-player-line-height;

    a {
      display:inline-block;
      line-height:1.5;
      vertical-align:middle;
    }
  }

  ul,
  li {
    list-style:none;
    margin:0;
    padding:0;
  }

  a {
    color:white;
  }

  // Player buttons
  .jp-controls li {
    float:left;
    height:$audio-player-line-height;
    line-height:4em;
    margin-top:1em;
  }
  .jp-play,
  .jp-pause,
  .jp-previous,
  .jp-next {
    position:relative;
    display:inline-block;
    width:3em;
    height:3em;
    margin-left:2em;
    border:4px solid white;
    border-radius:100em;
    text-align:center;
    line-height:2.5em;
    cursor:pointer;
    @include icon {
      position:absolute;
      top:50%; left:50%;
      width:1em; height:1em;
      margin-top:-0.5em;
      margin-left:-0.475em;
      font-size:1.25rem;
    };
  }

  .jp-play {
    @include icon('before', false, play) {

    }
  }

  .jp-previous {
    @include icon('before', false, backward) {

    }
  }

  .jp-next {
    @include icon('before', false, forward) {

    }
  }

  // Hide songs that aren't playing
  .jp-playlist li {
    display:none;
    float:left;

    &.jp-playlist-current {
      display:block;
      margin-left:2em;
      height:$audio-player-line-height;
      line-height:$audio-player-line-height;

      a {
        font-size:1.5em;
      }
    }
  }
}

.audio-player-container .jp-playlist li.jp-playlist-current a {
  border:none;
  font-family:"Sue Ellen Francisco",sans-serif;
  text-transform:uppercase;
  font-weight:bold;
  font-size:2em;
}

.duration {
  float:left;
  margin-left:1em;
  line-height:$audio-player-line-height;

  span {
    font-family:"Sue Ellen Francisco",sans-serif;
    text-transform:uppercase;
    font-weight:bold;
    font-size:2em;
    color:rgba(black,0.675);
  }
}

// =================================
//
//   Panels
//
// =================================

.panel {
  display:none;
  position:fixed;
  top:0; right:0; bottom:6em; left:0;
  padding:4em;
  background:red;
  overflow:scroll;
  z-index:1001;

  .panel-close {
    cursor:pointer;
  }
}

// =================================
//
//   Lyrics
//
// =================================

.lyrics.panel {
  background:darkblue;
  p {
    font-size:2em;
    font-family:"Neuton",serif;
  }
}

.lyrics.panel.insanity-jam {
  background:url(../images/backgrounds/bg-insanity-jam2.jpg) no-repeat;
  background-size:cover;
}

.lyrics.panel.long-way-around {
  background:url(../images/backgrounds/bg-long-way-around2.jpg) no-repeat;
  background-size:cover;
}

.lyrics.panel.rope-a-dope {
  background:url(../images/backgrounds/bg-rope-a-dope2.jpg) no-repeat;
  background-size:cover;
}
